body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  h2{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  table {
    padding: 10px;
    margin: 15px;
  }

  .back-atag{
    margin: 15px;
  
  
  }
  .back-atag > button{
  
    background-color:lightgreen;
    padding:10px;
    border-radius:20px;
    border:none;

    
  }
  .back-atag > button >a{
    text-decoration: none;
          color: #006CFF;
        
  }

  .div{
    height: 250px;
    position: relative;
    border: 2px solid rgb(26, 53, 1);
    background-color: rgb(162, 173, 121);
   }

   .btn{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
   }